 #cookie {
    width: 300px;
    display: block;
    margin: auto;
}
#counter{
    text-align: center;
    font-size: large;
    transition: .3s ease;
    color: white;
}
*{
    font-family: 'VT323', monospace;
    overflow: hidden;
}

#container{
    overflow: hidden;
}

#cookie:hover{
    transition: 0.5 ease;
    width: 320px;
    cursor: pointer;
}
#image{
    font-size: 20px;
    cursor: pointer;
    width: 142px;
    margin-left: 5%;
}
#clickUpgrade{
    font-size: 20px;
    cursor: pointer;
    width: 142px;
    margin-left: 5%;
}
#clickUpgrade2{
    font-size: 20px;
    cursor: pointer;
    width: 142px;
    margin-left: 5%;
}
#clickUpgrade3{
    font-size: 20px;
    cursor: pointer;
    width: 142px;
    margin-left: 5%;
}

#autoClickerUpgrade{
    font-size: 20px;
    cursor: pointer;
    width: 150px;

}
#autoClickerUpgrade2{
    font-size: 20px;
    cursor: pointer;
    width: 150px;
}
#autoClickerUpgrade3{
    font-size: 20px;
    cursor: pointer;
    width: 150px;
}
#u1{
    color: white;
    margin-left: 43%;
}
#u2{
    color: white;
    margin-right: 43%;
}

#cookie-container{
    text-align: center;
}
.upgrades-container1{
    border: 5px solid black;
    background-color: blueviolet;
    float: left;
    width: 550px;

}
.upgrades-container2{
    border: 5px solid black;
    background-color: blueviolet;
    text-align: right;
    margin-left: 60%;
    overflow: hidden;
    width: 550px;
}


body{
    background-image: url(../img/gc0igxz8f6351.png);
}
