 #cookie {
    width: 300px;
}
#counter{
    text-align: center;
    font-size: large;
    transition: .3s ease;
    cursor: pointer;
}
*{
    background-color: purple;
    font-family: sans-serif;
}

div{
    text-align: center;
}
#cookie:hover{
    transition: 0.5 ease;
    width: 350px;
    cursor: pointer;
}
#clickUpgrade{
    font-size: 20px;
    cursor: pointer;
    
}

#autoClickerUpgrade{
    font-size: 20px;
    cursor: pointer;

}